# Data files
**/*.txt
!requirements.txt
**/*.csv
**/*.xml
**/*.xlsx
**/*.bkp
**/*.qgz

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
**/*.ipynb

# Python cache
__pycache__

# Output files
**/*.gpkg
**/*.nc
**/*.png
**/*.npz
**/*.log

# Ignored folders
level_output
SIVelocity_SAR
input
misc
npz
overlays
sample_day
sample_year

