# Data files
**/*.txt
!requirements.txt
**/*.csv
**/*.xml
**/*.xlsx
**/*.bkp
**/*.qgz

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# Python cache
__pycache__

# Output files
**/*.gpkg
**/*.nc
**/*.png
**/*.npz
**/*.log

# Ignored folders
input
layer_to_gpkg
level_output
log
misc
npz
overlays
sample_day
sample_year
SIVelocity_SAR
