# Data files
**/*.txt
!requirements.txt
**/*.csv
**/*.xml
**/*.xlsx
**/*.bkp
**/*.qgz

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/
**/*.ipynb

# Python cache
__pycache__

# Output files
output
overlays
npz
**/*.gpkg
**/*.nc
**/*.png
**/*.npz

# Ignored folders
input
misc
sample_day
